<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../public/css/style.css">
    <title>challenge-04</title>
  </head>
  <body>
    <nav>
      <div class="logo"></div>
      <img src="../public/images/burger-icon.png" class="burgerIcon">
      <ul>
        <div class="searchFunc">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text"  id="searchBox" placeholder="Search">
        </div>
        <button class="searchBtn">Search</button>
        <img src="../public/images/dropdownProfile.png" class="profile">
      </ul>
    </nav>

    <div class="sidebar">
      <div class="sidebarContent">
        <div class="sidebarLogo"></div>
          <div class="sidebarIcon">
            <ul>
              <li>
                <i class="fa-solid fa-house"></i>
                <h2 id="dashboard">Dashboard</h2>
              </li>
              <li>
                <i class="fa-solid fa-truck"></i>
                <h2 id="carsText">Cars</h2>
              </li>
            </ul>
          </div>
      </div>
      <div class="sideList">
        <div class="sideList-content">
          <h2>CARS</h2>
          <ul>
            <li>List Cars</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="listHREF">
        <h4 id="firstList">Cars</h4>
        <h4 id="firstList"><i class="fa-solid fa-angle-right"></i></h4>
        <h4>List Car</h4>
      </div>
      <a href="addForm.html">
        <button class="addNew"><i class="fa-solid fa-plus"></i>Add New Car</button>
      </a>
      <div class="listcarSize">
        <h1>List Car</h1>
        <button class="buttonALL">All</button>
        <button>Small</button>
        <button>Medium  </button>
        <button>Large</button>
      </div>
    </div>
    
    <!-- Script -->
    <script src="https://kit.fontawesome.com/ba7cfbc847.js" crossorigin="anonymous"></script>
  </body>
</html>
